@import 'reset.css';

body {
    font-size: 16px;

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 4rem;
        background-color: #eee;
        z-index: 1;
    }

    #body-content {
        position: relative;
        top: 2rem;
        height: calc(100vh - 6rem);
        overflow: auto;
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4rem;
        background-color: #eee;
        z-index: 1;
    }
}